# Ignore the virtual environment folder
/venv

# Ignore the extracted configuration files, they're just there for human analysis
/tables

# Ignore compiled python files
/__pycache__

# Ignore the VSCode settings
/.vscode