# Ignore the virtual environment folder
/venv

# Ignore the extracted configuration files, they're just there for human analysis
/tables

# Ignore compiled python files
/__pycache__
/.pytest_cache

# Ignore the VSCode settings
/.vscode

# Ignore generated output files
/output_files/*[0-9].txt